# Fashion Flux Backend Dependencies

fastapi==0.110.0
uvicorn[standard]==0.29.0

# TensorFlow (CPU works automatically on Render)
tensorflow==2.15.0

numpy<2.0
scikit-learn
pillow
python-multipart
gunicorn
